*{
    font-family: Tahoma;
}

header, section, footer, aside, article, nav, hgroup{
    display: block;
}

#wrapper{

    width: 1000px;
    margin: 50px auto;
}

#header{
    border:1px solid black;
    
}
#menu{
    padding-top:30px;
}

#menu a{
    padding: 10px;
    margin:-1.5px;
    border: 1px solid black; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#menu a:link{
    text-decoration: none;
}
#menu a:visited{
    text-decoration: none;
}

#header2 #welcome{
    font-size: 21px;
    text-align: center;
    margin-top:50px;
}

#header2 #awalArticle{
    font-size: 19px;
    text-align: left;
    margin-top:50px;
}

article img{
    float: left;
    padding-right:50px;
}



footer{
    text-align: center;
    padding-top: 200px;
    float:clear;
}