*{
    font: 16px Tahoma;
}

header, section, footer, aside, article, nav, hgroup{
    display: block;
}

body{
    text-align: center;
}

#wrapper{
    width:1000px;
    border: 1px solid pink;
    margin: 50px auto;
    border-radius: 50px;
    
    
}
#header{
    border-bottom: 1px solid pink;
    background-image: url("meowpanda.png");
    background-size: 80px 80px;
    
    background-repeat: no-repeat;
    background-position: right;
    
    
    margin-right: 20px;
    margin-bottom: 10px; 
}



#header h1:hover{
    transform: rotate(2deg);
    font: 36px Century Gothic;
}
#header h4:hover{
    transform: rotate(-2deg);
    font: 18px Arial;
}




#pamer{
    border-bottom: 1px solid pink;
    background-image: url("p5js.png");
    background-size: 90px 90px;
    background-position: right;
    background-repeat: no-repeat;
}

#pamer li{
    display: inline-block;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#pamer p{
    display: block;
    border: 1px solid pink;
    background: pink;
    margin-top: -15px;
    font: 10px Georgia;
    float:right;
    
}

#pamer a{
    text-decoration: none;
    display:block;
    border:1px solid pink;
    padding: 5px;
    background: pink;
}

#pamer a:hover{
    background: #FF69B4;
}

#header h1{
    text-align: left;
    font: 32px Century Gothic;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 20px;
    margin-bottom: 0px;
}
#header h4{
    margin-top: 0px;
    text-align: left;
    font: 14px Arial;
    padding-top: 0px;
    padding-left: 20px;

}


#footer{
    clear:both;
}
#footer h4{
    font: 10px Tahoma;
}
